system: 
  device: cuda:1
  seed: 1024
  expname: indoor_cone_aniso_nrom_1222
  log_dir: ./result/eval/ae
  output_dir: ./result/eval/ae
  distributed: &distributed false # not actually used, use torchrun to run distributed training
  dist_eval: true
  mode: eval #train or eval


dataset:
  dataset_name: AlignedColoRadar
  root_dir: /data/ruijiezzz/dataset/processed_coloradar
  # split_file: split_indoor_june.json
  split_file: 
    hallway: split_mini_hallway_june.json
    lab: split_mini_arpg_lab_june.json
    aspen: split_mini_aspen_june.json
    classroom: split_mini_classroom_june.json
    army: split_mini_army_june.json
  radar_type: scRadar         # in [scRadar, ccRadar]

  lidar:
    ################### voxel mode ###################
    # pc_range: [0, -15, -5, 15, 15, 5]
    # num_point_features: 3
    # voxel_size: [0.05, 0.05, 0.05]  # [300, 600, 200] max
    ################# voxel mode end ###################

    ################## view cone mode ##################
    pc_range: [0, -90, -20, 15.8, 90, 20] # [-r, -az, -el, r, az, el], az and el are in degrees
    num_point_features: 3
    voxel_size: [0.05, 0.25, 0.5]  # [r, az, el], in meters and degrees, [316, 720, 80] max
    ################## view cone mode end ##################

    max_points_per_voxel: 10
    max_number_of_voxels: 50000
    sampling: True
    num_samples: &num_samples 10000
    query_ratio: 0.0625
    norm_isotropy: False   # isotropic along each axis with different scales of each axis
    norm_anisotropy: True  # normalize each axis separately with the largest scale
    cache_voxel: True  # whether to use cached voxel data
    view_cone_mode: True  # whether to use view cone mode
    
  # dataloader config
  batch_size: 14
  num_workers: 20
  pin_mem: True
  eval_batch_size: 1
  eval_num_workers: 12

train:
  vol_weight: 0.1
  near_weight: 1.0

  clip_grad: 10
  start_epoch: 0
  epochs: 150
  save_ckpt_freq: 5  # save checkpoint every 5 epochs
  eval_freq: 5  # evaluate every 5 epochs
  lr: null
  blr: 1e-4
  weight_decay: 0.05
  layer_decay: 0.75
  accum_iter: 1
  warmup_epochs: 5
  min_lr: 1e-6
  resume: null

  dist_on_itp: false
  distributed: *distributed
  world_size: 1
  local_rank: -1
  dist_url: env://

lidar_ae:
  name: kl_d512_m512_l32_mix
  point_cloud_size: *num_samples
  # latent_std: 1

eval:
  ckpt: ./result/ckpt/ae_kl_d512_m512_l32_mix_view_cone/indoor_cone_aniso_nrom/checkpoint-149.pth
  inference:
    num_query_points: 500000
    fps_ratio: 0.0512

  freq: 1
  use_test_set: true

  store_base_dir: result/generated_results
  exp_name: mix_indoor_inst_only_unfreeze_enc_0619

  store_pc: false
  save_pc_dir_name: pred_ply_query_helper_aug_7e5_refine_5e5_scale10


  # use_cart_query: false
  # use_cart_query: true

  ground_removal: false

  iou_test_only: false

  skip_eval_metric: false