system: 
  device: cuda:3
  # device: cuda  # set to 'cuda' for distributed training
  seed: 1024
  expname: mix_indoor_inst_only_unfreeze_enc_1223
  log_dir: ./result/ckpt/ar
  output_dir: ./result/ckpt/ar
  distributed: &distributed true # not actually used, use torchrun to run distributed training
  dist_eval: true
  mode: train #train or eval

dataset:
  dataset_name: AlignedColoRadar
  root_dir: /data/ruijiezzz/dataset/processed_coloradar
  split_file: split_indoor_june.json
  # split_file: 
  #   hallway: split_mini_hallway_june.json
  #   lab: split_mini_arpg_lab_june.json
  #   aspen: split_mini_aspen_june.json
  #   classroom: split_mini_classroom_june.json
  #   army: split_mini_army_june.json

  radar_type: scRadar         # in [scRadar, ccRadar], ccRadar not supported yet

  use_cache_latent: &cache false
  cache_latent_base_dir: /storage/dataset/zrj/RadarAR/latent_cache
  cache_latent_sub_dir: kl_d512_m512_l32/indoor_aniso_150_kl_single_layer

  lidar:
    ################### voxel mode ###################
    # pc_range: [0, -15, -5, 15, 15, 5]
    # num_point_features: 3
    # voxel_size: [0.05, 0.05, 0.05]  # [300, 600, 200] max
    ################# voxel mode end ###################

    ################## view cone mode ##################
    pc_range: [0, -90, -20, 15.8, 90, 20] # [-r, -az, -el, r, az, el], az and el are in degrees
    num_point_features: 3
    voxel_size: [0.05, 0.25, 0.5]  # [r, az, el], in meters and degrees, [316, 720, 80] max
    ################## view cone mode end ##################

    max_points_per_voxel: 10
    max_number_of_voxels: 50000
    sampling: True
    num_samples: 10000
    query_ratio: 0.0625
    norm_isotropy: False   # isotropic along each axis with different scales of each axis
    norm_anisotropy: True  # normalize each axis separately with the largest scale
    # norm_anisotropy: False  # normalize each axis separately with the largest scale
    cache_voxel: True

    view_cone_mode: True  # whether to use view cone mode

  radar:
    input_r_dim: 128
    input_a_dim: 8
    input_e_dim: 2
    input_ch: 3
    upsample: &radar_enc True
    tgt_r_dim: 128
    tgt_a_dim: 64
    tgt_e_dim: 32
    norm_intensity: True
    max_intensity: 45 # dB
    norm_dopp: True
    max_dopp: 2.4958 # m/s

  # dataloader config
  batch_size: 8
  num_workers: 24
  pin_mem: true
  eval_batch_size: 1
  eval_num_workers: 12
  # batch_size: 2
  # num_workers: 1
  # pin_mem: false
  # eval_batch_size: 2
  # eval_num_workers: 1

train:
  use_cache_latent: *cache
  manual_noise_from_vae: false
  
  clip_grad: 10
  start_epoch: 0
  epochs: &epochs 1 #100 
  save_ckpt_freq: 10  # save checkpoint every 10 epochs
  eval_freq: 1 #20  # evaluate every 20 epochs
  lr: &lr null
  blr: 1e-4
  weight_decay: 0.02
  layer_decay: 0.75
  accum_iter: 1
  warmup_epochs: 2
  min_lr: 1e-6 
  # resume: 'result/ckpt/vecset_baseline/mix_indoor_inst_only_raw_radar_0618/checkpoint-20.pth'
  resume: null

  dist_on_itp: false
  distributed: *distributed
  world_size: 1
  local_rank: -1
  dist_url: env://


ar_model:
  name: kl_d512_m512_l32_d24_edm
  configs:
    cond_type: radar
    categories_num: 5
    use_radar_cond: true
    # true for use radar encoder to process radar data, false for use radar cube directly
    use_radar_enc: *radar_enc   
    unfreeze_radar_enc: true

    ################# raw radar cube #################
    input_radar_r_dim: 128
    input_radar_a_dim: 8
    input_radar_e_dim: 2
    input_radar_ch: 2
    ################ raw radar cube #################

    ################# radar encoder #################
    enc_radar_r_dim: 8
    enc_radar_a_dim: 4
    enc_radar_e_dim: 2
    enc_radar_ch: 16
    enc_hidden_ch: 64
    ################ raw radar cube #################
    
    radar_token_channel: 512
    sos_from_radar: true

    use_radar_dopp: false

lidar_ae:
  name: kl_d512_m512_l32_mix
  # ckpt: ./output/aligned_dataset_kl_d512_m512_l32_multi_scale/indoor_voxel_005_aniso_norm/checkpoint-150.pth
  ckpt: ./result/ckpt/ae_kl_d512_m512_l32_mix_view_cone/indoor_cone_aniso_nrom/checkpoint-149.pth
  # latent_std: 0.5349
  latent_std: 1

radar_enc:
  name: ae_ch64_mult5_n2_d16
  ckpt: ./output/aligned_dataset_radar_enc/indoor/checkpoint-50.pth

eval:
  inference:
    num_query_points: 500000
    fps_ratio: 0.0512
  freq: 5